@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 69px;
  padding: 15px;
  margin: 0 5px;
  border: 2px solid rgb(179, 26, 26);
  border-radius: 10px;
  cursor: pointer;
}

.row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid rgb(223, 128, 128);
    border-radius: 8px;
}
.container{
  
  padding: 20px;

}

.bucket{
  background-color: rgb(236, 228, 228);
  border-style:solid;
  border-radius: 10px;

}
body{
  background: url(background.webp) no-repeat center fixed; 
        background-size: cover;
}
h3{
  text-align: center;
}